<!DOCTYPE html>
<html lang="id">
{{>head}}
<body>
    {{>header}}

    <main class="content fade-in">
        <section class="card about">
            <img src="/img/foto2.jpg" alt="Foto Profil" class="profile-img">
            <h1 class="title">Tentang Saya</h1>
            <p class="subtitle">Mahasiswa Informatika & Pengembang Web</p>

            <p class="desc">
                Halo, saya <strong>Frans Surya Pati Harau</strong>. Aplikasi ini dibuat untuk memberikan informasi cuaca secara real-time menggunakan data dari Weatherstack API.
                Tujuan saya adalah menghadirkan pengalaman pengguna yang sederhana, cepat, dan elegan.
            </p>

            <div class="links">
                <a href="mailto:frans.surya.pati.harau@gmail.com">Email</a>
                <a href="https://github.com/Frans23343039">GitHub</a>
                <a href="https://www.instagram.com/franssu_26?igsh=Y3U5OTgyaDB2NWE5">Instagram</a>
            </div>
        </section>
    </main>

    {{>footer}}
</body>
</html>
